body {
  margin: 20% auto;
  width: 50%;
  height: 75%;
  background-color: beige;
  padding: 50px;
  border: 8px solid #4CAF50;
  


}

button {
  background-color: rgb(119, 250, 178);
  color: rgb(255, 255, 255);
 
}